@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

p, span, div {
  font-family: 'Plus Jakarta Sans', sans-serif;
}